 @media (max-width: 768px) {
    .contenedor-ejercicios {
          width: 90%;
        }
        
    .imagen-Ejercicios {
        width: 80%;
    }
        
    .resumen-Ejercicios {
        font-size: 16px;
    }
 }
        
@media (min-width: 769px) and (max-width: 1200px) {
    .contenedor-ejercicios {
            width: 80%;
    }
        
    .imagen-Ejercicios {
        width: 70%;
    }
        
    .resumen-Ejercicios {
        font-size: 18px;
    }
}
        
@media (min-width: 1201px) {
    .contenedor-ejercicios {
        width: 60%;
    }
        
    .imagen-Ejercicios {
        width: 50%;
    }
        
    .resumen-Ejercicios {
        font-size: 20px;
    }
}
