.contenedor-ejercicios {
    border: 1px solid rgb(219, 231, 219);
    border-radius: 7px;
    width: 1000px;
  }
.imagen-Ejercicios{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.resumen-Ejercicios{
    font-size: 20px;
    font-variant: small-caps;
    text-align: center;
}