.contenedor-entrenadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.contenedor-formulario-entrenador {
  border-radius: 15px;
  border: 2px solid black;
  overflow: hidden;
  width: 600px;
  margin: 2px;
}

.contenedor-entrenador {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize;
}

.nombre-entrenador {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-entrenador.par {
  background-color: darkseagreen;
}

.contenedor-entrenador.impar {
  background-color: blanchedalmond;
}