.contenedor-noticias {
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 420px 420px;
    margin: 20px;
    gap: 20px;
  }

  @media (max-width: 600px) {
    .contenedor-noticias {
      grid-template-columns: 1fr; 
      gap: 10px; 
    }
  }
  
 
  @media (min-width: 601px) and (max-width: 900px) {
    .contenedor-noticias {
      grid-template-columns: 1fr 1fr; 
      gap: 15px; 
    }
  }
  
  
  @media (min-width: 901px) {
    .contenedor-noticias {
      grid-template-columns: 420px 420px; 
      gap: 20px; 
    }
  }
