
.imgPhoto {
    place-self: center;
    position: relative;
    width: 25px;
    height: 25px;
    left: 63%;
    bottom: 2px;
}

.imgPhoto .photoURL {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms;
    background: WHITE;
    box-sizing: content-box;
    overflow: hidden;
}

.prueba2{
    position: relative; 
    display: table-cell !important;
    width: 61px;
    height: 43px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}
.logoutNavBar{
    position: relative; 
    display: table-cell !important;
    width: 49px;
    height: 43px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}
.prueba3{
    height: 29px;
    text-align: center;
    vertical-align: middle;
}

.main-menu:hover,nav.main-menu.expanded {
    width:189px;
    overflow:visible;
}
    
nav.main-menu {
    background:#0088D1;
    position:fixed;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
    transition: width .07s ease-in;
    -webkit-transition: width .07s ease-in;
    -moz-transition: width .07s ease-in;
    -ms-transition: width .07s ease-in;
    -o-transition: width .07s ease-in;
}
    
.main-menu>ul {
    margin:7px 0;
}
    
.main-menu li {
    position:relative;
    display:block;
    width:189px;
    text-decoration:none;
}
    
.main-menu li> a {
     position:relative;
     display:table;
     border-collapse:collapse;
     border-spacing:0;
     color:#092650;
     font-weight: 600;
     font-family: arial;
     font-size: 14px !important;
     text-decoration:none;
     -webkit-transform:translateZ(0) scale(1,1);
    
}
    
.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:130px;
    font-family: 'Titillium Web', sans-serif;

}

.main-menu .nav-text2 {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    top: -1px;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 20px;
    user-select: none;
}
.subclassNav:has(.nav-text2):hover{
    color: #092650;
}
    
.main-menu>ul.userProfile{
    position:absolute;
    left:0;
    bottom:0;
}
    
.no-touch .scrollable.hover {
    overflow-y:hidden;
}
    
.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}
    
.NavLink:hover,.NavLink:focus {
    text-decoration:none;
}
    
nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}
    
nav ul, nav li {
    outline:0;
    margin:0;
    padding:0;
}
    
.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}
    
    
.subclassNav{
        transition: .15s ease-in;
        -webkit-transition: .15s ease-in;
        -moz-transition: .15s ease-in;
        -ms-transition: .15s ease-in;
        -o-transition: .15s ease-in;
}

    
.subclassNav:hover{
    color:white;
        
}
    
.subclassNav.active{
    color:white;
        
}

