.contenedor-api {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.busqueda {
  border: 2px solid green;
  border-radius: 30px;
  width: 600px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  outline: none;
}

.busqueda-boton {
  margin-left: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 25px;
  cursor:pointer;
}

.busqueda-boton:hover {
  background-color: greenyellow;
}

.informacion-nutricional-contenedor{
  margin-top: 50px;
}