a {
  text-decoration: none;
  color:black;
}

.contenedor-noticia {
  border: 1px solid green;
  border-radius: 7px;
  width: 420px;
}

.titulo-noticia {
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.fecha-noticia {
  text-align: right;
  color: #2e2e2e;
  cursor: pointer;
  user-select: none;
}

.imagen-noticia {
  width: 420px;
  height: 343px;
}

.resumen-noticia {
  font-size: 18px;
}

.contenedor-boton {
  display: flex;
  justify-content: center;
}

.leer-mas {
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: blue;
  cursor: pointer;
  user-select: none;
}

.leer-mas:hover {
  background-color: red;
}

/*
TODO: Adaptar colores a la paleta de la web
*/