* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.boton-noticias {
  background-color: bisque;
  height: 50px;
  width: 200px;
}

.boton-nutricion {
  background-color: greenyellow;
  height: 50px;
  width: 200px;
}